# TODO
load data
anomalies with Isolation forest, hampel filter, SVM and z-score

In [2]:
%matplotlib inline 
%config InlineBackend.figure_format = 'retina'

import matplotlib.pyplot as plt
import warnings

plt.style.use('seaborn-v0_8')
# plt.style.use('seaborn-colorblind') #alternative
# plt.rcParams['figure.figsize'] = [16, 9]
plt.rcParams['figure.dpi'] = 300
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
import numpy as np

# Study on Bitcoin

First of all I've already have the data I downloaded in the data loading notebook, so we start by loading that

In [3]:
df_btc = pd.read_csv("/Users/leonardoplacidi/Desktop/BacktestingTrade/Python4Finance/data/Bybit_data_vol_OI.csv")
df_btc.head()

,startTime,openPrice,highPrice,lowPrice,closePrice,symbol,volume,turnover,openInterest
0,2024-04-30,63846.04,64724.78,59089.54,60632.64,BTCUSD,2117478141,34765.045310,331760650.0
1,2024-04-29,63109.42,64191.68,61771.95,63846.04,BTCUSD,1330431186,21244.648750,317626466.0
2,2024-04-28,63433.42,64340.59,62767.71,63109.42,BTCUSD,698842508,10994.505878,316996638.0
3,2024-04-27,63751.61,63907.37,62397.63,63433.42,BTCUSD,912937699,14488.390121,318241311.0
4,2024-04-26,64488.03,64791.93,63308.59,63751.61,BTCUSD,1148931440,17931.562023,319516725.0

In this section I want to study the volatility, in particular the correlation between my **close price** and the **VIX** index.

To do so I need to download the VIX for BTC from the API:

In [4]:
from pybit.unified_trading import HTTP
session = HTTP(testnet=True)
print(session.get_historical_volatility(
    category="option",
    baseCoin="BTC",
    period=30,
))

{'retCode': 0, 'retMsg': 'SUCCESS', 'category': 'option', 'result': [{'period': 30, 'value': '0.54694103', 'time': '1715842800000'}]}

Like last time, I need to use the start and end date in timestamps

In [9]:
import datetime

def convert_to_timestamp(date_time_str):
    # List of expected date and time formats, from most specific to least specific
    formats = [
        '%Y-%m-%d %H:%M:%S',  # Complete date and time
        '%Y-%m-%d %H:%M',     # Date and time without seconds
        '%Y-%m-%d %H',        # Date and hour only
        '%Y-%m-%d'            # Date only
    ]
    
    # Try parsing the date_time string using the expected formats
    for fmt in formats:
        try:
            date_time_obj = datetime.datetime.strptime(date_time_str, fmt)
            # Convert datetime object to timestamp (in seconds)
            timestamp = int(date_time_obj.timestamp())
            # Convert to milliseconds and ensure it is a 13-digit number
            timestamp_milliseconds = timestamp * 1000
            return '{:013d}'.format(timestamp_milliseconds)
        except ValueError:
            continue
    
    # Raise an error if no format matches
    raise ValueError("Date and time format is incorrect or unsupported.")


start_date = convert_to_timestamp("2024-04-01")
end_date = convert_to_timestamp("2024-5-1")

Sadly the API can be queried only for 30 days, so we do only April2024

In [27]:
from pybit.unified_trading import HTTP
session = HTTP(testnet=True)
symbol = "BTC"
data = session.get_historical_volatility(
    category="option",
    baseCoin=symbol,
    period=30,
    startTime = start_date,
    endTime = end_date,
)


# Convert list to DataFrame
columns = ["period", "value", "time"]#, 'volume', 'turnover']
df = pd.DataFrame(data["result"], columns=columns)

# Adding a new column for the symbol
df['symbol'] = symbol

# Convert startTime to datetime and prices to floats
df['startTime'] = pd.to_datetime(df['time'].astype(float), unit='ms')

# Sort the DataFrame by startTime in descending order
df = df.sort_values(by='startTime', ascending=False)
# Drop the 'time' and 'period' columns

df = df.drop(columns=['time', 'period'])

# Display the DataFrame
print(df)

          value symbol           startTime
720  0.58418179    BTC 2024-04-30 15:00:00
719  0.58371678    BTC 2024-04-30 14:00:00
718  0.58326688    BTC 2024-04-30 13:00:00
717  0.58328617    BTC 2024-04-30 12:00:00
716  0.58248651    BTC 2024-04-30 11:00:00
..          ...    ...                 ...
4    0.65260509    BTC 2024-03-31 19:00:00
3    0.65243071    BTC 2024-03-31 18:00:00
2    0.65287710    BTC 2024-03-31 17:00:00
1    0.65341521    BTC 2024-03-31 16:00:00
0    0.65342054    BTC 2024-03-31 15:00:00

[721 rows x 3 columns]

Right now we have hourly data, so for the sake of this analysis I will also redownload hourly hours for the same interval of time in the market data for BTC. The old data was actually a daily one so let's go!

In [34]:
from pybit.unified_trading import HTTP
session = HTTP(testnet=True)

symbol = "BTCUSD"
category = "linear"

print(session.get_kline(
    category=category,
    symbol=symbol,
    interval="60",
    start = start_date,
    end = end_date,
    limit=200,
))

data_volume = session.get_kline(
    category=category,
    symbol=symbol,
    interval="60",
    start = start_date,
    end = end_date,
    limit=200,
)


# Convert list to DataFrame
columns = ['startTime', 'openPrice', 'highPrice', 'lowPrice', 'closePrice', 'volume', 'turnover']
df2 = pd.DataFrame(data_volume["result"]['list'], columns=columns)


# Convert startTime to datetime and prices to floats
df2["symbol"] = symbol
df2['startTime'] = pd.to_datetime(df2['startTime'].astype(float), unit='ms')
for col in ['openPrice', 'highPrice', 'lowPrice', 'closePrice']:
    df2[col] = df2[col].astype(float)

df2["symbol"] = symbol
# Sort the DataFrame by startTime in descending order
df2 = df2.sort_values(by='startTime', ascending=False)

# Display the DataFrame
print(df2)

{'retCode': 0, 'retMsg': 'OK', 'result': {'symbol': 'BTCUSD', 'category': 'linear', 'list': [['1714489200000', '61177.5', '61334', '60530.5', '60724', '117661867', '1933.79354478'], ['1714485600000', '60776.5', '61482', '60531', '61177.5', '123668091', '2030.09821028'], ['1714482000000', '61190', '145950.5', '21478', '60776.5', '158239656', '2835.06028099'], ['1714478400000', '61138', '61284', '60695.5', '61190', '110596422', '1809.99633058'], ['1714474800000', '61731.5', '61732.5', '61004', '61138', '99544414', '1623.39000911'], ['1714471200000', '61646', '61731.5', '61471.5', '61731.5', '69341063', '1125.16987197'], ['1714467600000', '61868.5', '62078', '61590.5', '61646', '103995445', '1681.91323937'], ['1714464000000', '63100', '63202.5', '61766.5', '61868.5', '133581696', '2139.95295126'], ['1714460400000', '63350.5', '63410', '63100', '63100', '34358711', '543.05891015'], ['1714456800000', '63295.5', '63400.5', '58646.5', '63350.5', '30165195', '477.17378292'], ['1714453200000', '63355', '64423', '60383', '63295.5', '49437750', '781.41006992'], ['1714449600000', '63610', '63660.5', '63321', '63355', '34502526', '543.33825318'], ['1714446000000', '63744.5', '63778.5', '63523', '63610', '42282441', '664.47335644'], ['1714442400000', '63599', '63860', '63100', '63744.5', '80441896', '1266.42689562'], ['1714438800000', '64530.5', '64542', '63599', '63599', '73384994', '1142.95455372'], ['1714435200000', '63822', '64667.5', '63670.5', '64530.5', '62393297', '973.18918701'], ['1714431600000', '63855.5', '64157', '56909', '63822', '68021891', '1079.70342709'], ['1714428000000', '63056', '63896.5', '63017.5', '63855.5', '70247966', '1105.89522934'], ['1714424400000', '62924.5', '63106.5', '62789', '63056', '21884897', '347.65347299'], ['1714420800000', '62924', '63075.5', '62833', '62924.5', '33690531', '535.05327769'], ['1714417200000', '62817', '62929.5', '62497.5', '62924', '59037724', '942.09708849'], ['1714413600000', '62995', '63012', '62679.5', '62817', '38367780', '610.55894709'], ['1714410000000', '62754', '63248', '62740', '62995', '55393756', '879.83570424'], ['1714406400000', '63004', '63107.5', '62727.5', '62754', '58941013', '936.65625952'], ['1714402800000', '62803.5', '63064', '62713.5', '63004', '61252371', '974.10553298'], ['1714399200000', '61961.5', '62954.5', '61876.5', '62803.5', '99073147', '1585.47805899'], ['1714395600000', '62570', '62655.5', '61763.5', '61961.5', '102915756', '1654.47510881'], ['1714392000000', '62234.5', '62615.5', '62066.5', '62570', '58554898', '939.23263543'], ['1714388400000', '62373', '62435', '62169.5', '62234.5', '39221253', '629.71585345'], ['1714384800000', '62500.5', '62616', '62349.5', '62373', '39512444', '632.39110955'], ['1714381200000', '62347.5', '62607.5', '62244.5', '62500.5', '34332005', '550.54883051'], ['1714377600000', '62368.5', '62464.5', '62185', '62347.5', '39477595', '633.60272423'], ['1714374000000', '62131.5', '62388', '61931', '62368.5', '67516830', '1086.1971575'], ['1714370400000', '62385.5', '62432', '61898', '62131.5', '78339240', '1260.21987729'], ['1714366800000', '62483', '62492', '62031', '62385.5', '44669408', '717.20090855'], ['1714363200000', '62247.5', '62572.5', '61666', '62483', '55827679', '895.05118626'], ['1714359600000', '62666', '62711.5', '62212', '62247.5', '75230452', '1203.07513522'], ['1714356000000', '63178.5', '63230.5', '62518', '62666', '58845496', '936.26584259'], ['1714352400000', '63192', '63303', '63026.5', '63178.5', '33286464', '527.10848421'], ['1714348800000', '63064', '63263', '62989', '63192', '36790590', '582.52689756'], ['1714345200000', '63065.5', '63081', '62732', '63064', '76961536', '1223.56206178'], ['1714341600000', '63627', '63682', '62898.5', '63065.5', '63161125', '998.96843844'], ['1714338000000', '63628.5', '63688.5', '63573.5', '63627', '12590217', '197.89744262'], ['1714334400000', '63700.5', '63705', '63546.5', '63628.5', '13829057', '217.37830492'], ['1714330800000', '63884', '63886.5', '63681', '63700.5', '16478142', '258.38702382'], ['1714327200000', '63715', '63919.5', '63644', '63884', '22231047', '348.56037066'], ['1714323600000', '63630', '63743', '63521.5', '63715', '16336972', '256.79469417'], ['1714320000000', '63507', '63734', '63430.5', '63630', '34326669', '539.8283393'], ['1714316400000', '63556.5', '63589', '63429.5', '63507', '23587120', '371.43717399'], ['1714312800000', '63733', '63735.5', '63437', '63556.5', '26924467', '423.46813716'], ['1714309200000', '63541.5', '63821', '63474.5', '63733', '35607755', '559.13839087'], ['1714305600000', '63442', '63620.5', '63378', '63541.5', '23065380', '363.20605926'], ['1714302000000', '63632.5', '63653.5', '63349', '63442', '36785135', '579.43863277'], ['1714298400000', '63699.5', '63740', '63327.5', '63632.5', '37448295', '589.462567'], ['1714294800000', '63639', '63762.5', '63606', '63699.5', '20720545', '325.31228653'], ['1714291200000', '63834.5', '63919.5', '63609.5', '63639', '25133314', '394.25743116'], ['1714287600000', '63902', '63984.5', '63829.5', '63834.5', '23880238', '373.74913175'], ['1714284000000', '63877', '63950.5', '63742', '63902', '18532307', '290.22686618'], ['1714280400000', '63800', '63930.5', '63749.5', '63877', '19297208', '302.35165909'], ['1714276800000', '63975.5', '64009', '63781.5', '63800', '21620263', '338.33100231'], ['1714273200000', '63900', '64319.5', '63875', '63975.5', '54727769', '854.03991193'], ['1714269600000', '63542.5', '63975.5', '63480', '63900', '29688113', '465.97797363'], ['1714266000000', '63535.5', '63619.5', '63452.5', '63542.5', '22624420', '356.04211384'], ['1714262400000', '63373.5', '63664.5', '63373.5', '63535.5', '23285414', '366.68986527'], ['1714258800000', '63197', '63480.5', '63194.5', '63373.5', '17150475', '270.660459'], ['1714255200000', '63228', '63362', '63161.5', '63197', '21776119', '344.22972507'], ['1714251600000', '63197.5', '63267.5', '63085', '63228', '16066028', '254.35078409'], ['1714248000000', '63293', '63384', '63101.5', '63197.5', '24789134', '392.14069871'], ['1714244400000', '63252.5', '63324', '63125.5', '63293', '24146800', '381.82898196'], ['1714240800000', '63364.5', '63522', '62825.5', '63252.5', '79424700', '1257.62403956'], ['1714237200000', '62691.5', '63588', '62670', '63364.5', '58313304', '923.6035063'], ['1714233600000', '62881.5', '63037', '62691.5', '62691.5', '32317240', '514.13171268'], ['1714230000000', '63067', '63140', '62806', '62881.5', '28819097', '457.76244059'], ['1714226400000', '63148', '66737.5', '63026', '63067', '34978031', '553.4965375'], ['1714222800000', '62969', '63200.5', '62949.5', '63148', '30548711', '484.13643894'], ['1714219200000', '62822.5', '63122', '62765', '62969', '34170954', '542.63774312'], ['1714215600000', '62749.5', '62885', '62637.5', '62822.5', '26998923', '430.11697759'], ['1714212000000', '62939.5', '62953.5', '62684.5', '62749.5', '24030174', '382.39771686'], ['1714208400000', '62984.5', '63029', '62839', '62939.5', '24496704', '389.30149305'], ['1714204800000', '62946', '63033.5', '62908.5', '62984.5', '21095475', '335.06550485'], ['1714201200000', '62994', '63122.5', '62928.5', '62946', '28250146', '448.17237872'], ['1714197600000', '62961.5', '63107.5', '62828.5', '62994', '34481314', '547.62648518'], ['1714194000000', '63008', '63058.5', '62773.5', '62961.5', '38330855', '609.0204065'], ['1714190400000', '63040.5', '63139', '62899.5', '63008', '27772175', '440.91411987'], ['1714186800000', '62889', '63098.5', '62779', '63040.5', '37156515', '589.93734889'], ['1714183200000', '62516', '63247.5', '62471.5', '62889', '66942696', '1064.45316567'], ['1714179600000', '63097', '63216.5', '62429.5', '62516', '118814957', '1893.54038333'], ['1714176000000', '63734', '63882', '62798.5', '63097', '62067172', '981.24107294'], ['1714172400000', '63792.5', '63880.5', '63717.5', '63734', '16333807', '256.0639774'], ['1714168800000', '64024', '64030.5', '63664.5', '63792.5', '38277473', '599.84075557'], ['1714165200000', '63921.5', '64043', '63794', '64024', '17581983', '275.03224788'], ['1714161600000', '63842', '64063', '63747.5', '63921.5', '25365577', '396.97257635'], ['1714158000000', '64020', '64073.5', '63767.5', '63842', '31362619', '490.87129977'], ['1714154400000', '63960', '64103', '63907.5', '64020', '33472873', '523.1842075'], ['1714150800000', '63625.5', '64043', '63515', '63960', '55633528', '872.27066159'], ['1714147200000', '63436.5', '63698', '63273', '63625.5', '65830333', '1036.01889296'], ['1714143600000', '63798.5', '63970.5', '63290.5', '63436.5', '100368482', '1579.48116108'], ['1714140000000', '64476', '64749', '63743', '63798.5', '121419988', '1889.0326534'], ['1714136400000', '64092.5', '64536.5', '63625.5', '64476', '106110394', '1657.88585269'], ['1714132800000', '64210.5', '64484', '63925.5', '64092.5', '68564374', '1066.82913368'], ['1714129200000', '64071.5', '64222.5', '64033', '64210.5', '27339623', '426.28815998'], ['1714125600000', '64437.5', '64533', '64039', '64071.5', '37262562', '579.74799648'], ['1714122000000', '64383', '64534', '64305.5', '64437.5', '32812971', '509.25217503'], ['1714118400000', '64250.5', '64446.5', '64210.5', '64383', '38625529', '600.32073447'], ['1714114800000', '64342', '64558.5', '64232.5', '64250.5', '39854395', '619.56805111'], ['1714111200000', '64515.5', '64548.5', '64225', '64342', '25102307', '389.86002752'], ['1714107600000', '64184', '64526.5', '64019', '64515.5', '29320083', '456.45233399'], ['1714104000000', '64359', '64366', '64158', '64184', '32035991', '498.55892721'], ['1714100400000', '64477.5', '64477.5', '64287', '64359', '28803578', '447.44829087'], ['1714096800000', '64346.5', '64644.5', '64272', '64477.5', '46902881', '727.8160762'], ['1714093200000', '64261.5', '64630.5', '63907.5', '64346.5', '77752426', '1211.36421372'], ['1714089600000', '64462.5', '64522', '64081.5', '64261.5', '52797663', '821.40161614'], ['1714086000000', '64572', '64699', '64399.5', '64462.5', '25860235', '400.73917625'], ['1714082400000', '64682.5', '64704.5', '64531', '64572', '35086066', '543.00117994'], ['1714078800000', '64753', '65240', '64667', '64682.5', '44895666', '691.58498336'], ['1714075200000', '64700.5', '64960.5', '64466', '64753', '48313928', '746.39642512'], ['1714071600000', '64667.5', '64746', '64535.5', '64700.5', '41839181', '647.31889886'], ['1714068000000', '64662', '64852.5', '64457.5', '64667.5', '61132710', '945.84322353'], ['1714064400000', '64372', '64800', '64329.5', '64662', '89166340', '1381.10957033'], ['1714060800000', '64081', '64434.5', '63925', '64372', '80546047', '1255.61766759'], ['1714057200000', '63314.5', '64119.5', '63222', '64081', '84548105', '1328.40479256'], ['1714053600000', '63361', '63792.5', '63172.5', '63314.5', '100886634', '1588.59316995'], ['1714050000000', '63368', '66113.5', '62715.5', '63361', '129068170', '2043.9528908'], ['1714046400000', '63826.5', '64191', '63239.5', '63368', '96622630', '1515.27354749'], ['1714042800000', '63424', '63960', '63422', '63826.5', '56940219', '893.5451155'], ['1714039200000', '63927', '63936.5', '63309.5', '63424', '94854117', '1492.30051906'], ['1714035600000', '63901.5', '64138', '63795.5', '63927', '42756784', '668.2734661'], ['1714032000000', '63962.5', '64136.5', '63693.5', '63901.5', '55674866', '871.48263559'], ['1714028400000', '64242', '64341', '63786', '63962.5', '35966857', '561.37613466'], ['1714024800000', '64199.5', '64350.5', '64164', '64242', '14490943', '225.54105787'], ['1714021200000', '64293.5', '64334.5', '63993', '64199.5', '26891804', '419.0120671'], ['1714017600000', '64242', '64321.5', '64014.5', '64293.5', '41678596', '649.54025623'], ['1714014000000', '64236', '64425.5', '64102', '64242', '38938999', '605.71157097'], ['1714010400000', '64019.5', '64278.5', '63811', '64236', '49980247', '779.48193846'], ['1714006800000', '64515.5', '64584', '64019.5', '64019.5', '38801193', '602.95519278'], ['1714003200000', '64254.5', '64682.5', '64181', '64515.5', '38128431', '591.80392866'], ['1713999600000', '64065', '64297', '63795.5', '64254.5', '56537450', '882.17698903'], ['1713996000000', '64332', '64332.5', '63927.5', '64065', '49167992', '766.67382969'], ['1713992400000', '64066', '64362.5', '63965.5', '64332', '45278372', '705.53237599'], ['1713988800000', '63949.5', '64176.5', '63577.5', '64066', '86360414', '1351.07477705'], ['1713985200000', '64074', '64433.5', '63718', '63949.5', '85953588', '1339.25126296'], ['1713981600000', '64839.5', '64848.5', '64070.5', '64074', '68511784', '1062.16419208'], ['1713978000000', '64734.5', '65087', '64707', '64839.5', '53423122', '823.43316142'], ['1713974400000', '64611.5', '64860.5', '64309', '64734.5', '97209884', '1504.37032233'], ['1713970800000', '65202', '65213.5', '64480', '64611.5', '110119150', '1698.69391364'], ['1713967200000', '66050', '66178.5', '64780.5', '65202', '119745168', '1833.12292684'], ['1713963600000', '66339', '66339', '65808', '66050', '78316210', '1185.50506743'], ['1713960000000', '66561', '66715', '66321.5', '66339', '40020185', '601.34090684'], ['1713956400000', '66414', '66612', '66346.5', '66561', '34868673', '524.51058671'], ['1713952800000', '66342', '66467.5', '66198.5', '66414', '37882832', '570.95559127'], ['1713949200000', '66520.5', '66548.5', '63791', '66342', '33229447', '500.67287705'], ['1713945600000', '66614', '66730', '66481', '66520.5', '31891526', '478.86007677'], ['1713942000000', '66778', '66890', '66590', '66614', '29846802', '447.10902468'], ['1713938400000', '66755.5', '66785.5', '66550', '66778', '28289866', '424.30360562'], ['1713934800000', '67042', '67093', '66642', '66755.5', '42059893', '629.23199913'], ['1713931200000', '66604.5', '69200', '66604', '67042', '34841300', '521.02639091'], ['1713927600000', '66536', '66725.5', '66530', '66604.5', '23211380', '348.36340296'], ['1713924000000', '66778', '66784.5', '66455.5', '66536', '35193751', '528.22401639'], ['1713920400000', '66748.5', '66888', '66682', '66778', '31564748', '472.5565204'], ['1713916800000', '66407.5', '66753', '66383', '66748.5', '48169648', '723.37454606'], ['1713913200000', '66332.5', '66410.5', '66104', '66407.5', '27941790', '421.51027666'], ['1713909600000', '66354', '66427.5', '66264', '66332.5', '27388730', '412.75020957'], ['1713906000000', '66301.5', '66429.5', '66232.5', '66354', '22541348', '339.89109238'], ['1713902400000', '66473.5', '66474.5', '65983.5', '66301.5', '45211385', '682.7226149'], ['1713898800000', '66774.5', '66778', '66399', '66473.5', '30895378', '464.13200849'], ['1713895200000', '66743.5', '66849', '66607.5', '66774.5', '35267059', '528.47388512'], ['1713891600000', '66741', '66900.5', '66577.5', '66743.5', '38224432', '572.85679412'], ['1713888000000', '66353.5', '66792.5', '66345.5', '66741', '52168482', '783.00964498'], ['1713884400000', '66914', '66926', '66318', '66353.5', '78529839', '1178.79554055'], ['1713880800000', '66517.5', '67157', '66450', '66914', '102782300', '1538.53292571'], ['1713877200000', '66123', '66572.5', '66039.5', '66517.5', '68568779', '1034.11374551'], ['1713873600000', '66047', '66159', '65814', '66123', '45542533', '689.8636294'], ['1713870000000', '66208', '66247', '65853.5', '66047', '36948773', '559.48722274'], ['1713866400000', '66072.5', '66318.5', '66072.5', '66208', '33634739', '508.01867376'], ['1713862800000', '66213.5', '66300.5', '66059', '66072.5', '28416782', '429.33872138'], ['1713859200000', '66103.5', '66244.5', '65974', '66213.5', '36593008', '553.52943474'], ['1713855600000', '66389', '66458.5', '66074', '66103.5', '48791169', '736.40166413'], ['1713852000000', '66513.5', '66671', '66328.5', '66389', '31136141', '468.04778914'], ['1713848400000', '66245', '66646', '66207.5', '66513.5', '34851254', '524.88416473'], ['1713844800000', '66463', '66578', '66193.5', '66245', '40724153', '613.47958266'], ['1713841200000', '66625.5', '66777.5', '66460', '66463', '32649241', '490.07812558'], ['1713837600000', '66806', '66911', '66571', '66625.5', '30523371', '457.04491111'], ['1713834000000', '67010.5', '67183.5', '66793.5', '66806', '41505013', '619.43255515'], ['1713830400000', '66800.5', '67017.5', '66698', '67010.5', '42273852', '632.46179418'], ['1713826800000', '67030', '67225', '66770', '66800.5', '48921626', '730.1407264'], ['1713823200000', '66502.5', '67188.5', '66501', '67030', '46144480', '690.90989557'], ['1713819600000', '66469', '66527.5', '66319', '66502.5', '19613002', '295.10798974'], ['1713816000000', '66534.5', '66728.5', '66384.5', '66469', '32125523', '482.7231806'], ['1713812400000', '66329.5', '66563', '66132.5', '66534.5', '47517743', '716.40235275'], ['1713808800000', '66563', '66693', '66297', '66329.5', '50059285', '752.82472934'], ['1713805200000', '66132.5', '66831', '66132', '66563', '65684867', '986.76368506'], ['1713801600000', '65974', '66427.5', '65930', '66132.5', '53215390', '804.62719697'], ['1713798000000', '66058', '66084.5', '65697', '65974', '68409398', '1038.6108942'], ['1713794400000', '66149.5', '66483', '65981.5', '66058', '85098564', '1284.4144518'], ['1713790800000', '65971', '66254', '65690', '66149.5', '76951037', '1165.90459997'], ['1713787200000', '65875.5', '65986', '65657', '65971', '46375161', '704.20898108'], ['1713783600000', '66051', '66124.5', '65742.5', '65875.5', '39557049', '600.06046178'], ['1713780000000', '65942', '66121', '65899.5', '66051', '32058053', '485.59524682'], ['1713776400000', '65985', '66061.5', '65837.5', '65942', '37051660', '561.79445192'], ['1713772800000', '66012.5', '66234', '65934', '65985', '44145985', '667.97622149']]}, 'retExtInfo': {}, 'time': 1715845167415}
              startTime  openPrice  highPrice  lowPrice  closePrice  \
0   2024-04-30 15:00:00    61177.5    61334.0   60530.5     60724.0
1   2024-04-30 14:00:00    60776.5    61482.0   60531.0     61177.5
2   2024-04-30 13:00:00    61190.0   145950.5   21478.0     60776.5
3   2024-04-30 12:00:00    61138.0    61284.0   60695.5     61190.0
4   2024-04-30 11:00:00    61731.5    61732.5   61004.0     61138.0
..                  ...        ...        ...       ...         ...
195 2024-04-22 12:00:00    65875.5    65986.0   65657.0     65971.0
196 2024-04-22 11:00:00    66051.0    66124.5   65742.5     65875.5
197 2024-04-22 10:00:00    65942.0    66121.0   65899.5     66051.0
198 2024-04-22 09:00:00    65985.0    66061.5   65837.5     65942.0
199 2024-04-22 08:00:00    66012.5    66234.0   65934.0     65985.0

        volume       turnover  symbol
0    117661867  1933.79354478  BTCUSD
1    123668091  2030.09821028  BTCUSD
2    158239656  2835.06028099  BTCUSD
3    110596422  1809.99633058  BTCUSD
4     99544414  1623.39000911  BTCUSD
..         ...            ...     ...
195   46375161   704.20898108  BTCUSD
196   39557049   600.06046178  BTCUSD
197   32058053   485.59524682  BTCUSD
198   37051660   561.79445192  BTCUSD
199   44145985   667.97622149  BTCUSD

[200 rows x 8 columns]

Let me clean a moment since I just need the close price and the data

In [35]:
df_btc = df2[["startTime", "closePrice", "volume", "symbol"]]
df_btc.head()

            startTime  closePrice     volume  symbol
0 2024-04-30 15:00:00     60724.0  117661867  BTCUSD
1 2024-04-30 14:00:00     61177.5  123668091  BTCUSD
2 2024-04-30 13:00:00     60776.5  158239656  BTCUSD
3 2024-04-30 12:00:00     61190.0  110596422  BTCUSD
4 2024-04-30 11:00:00     61138.0   99544414  BTCUSD

In [36]:
df.head()

          value symbol           startTime
720  0.58418179    BTC 2024-04-30 15:00:00
719  0.58371678    BTC 2024-04-30 14:00:00
718  0.58326688    BTC 2024-04-30 13:00:00
717  0.58328617    BTC 2024-04-30 12:00:00
716  0.58248651    BTC 2024-04-30 11:00:00

Let's merge to proceed and imma save it

In [41]:
df_volatility = pd.merge(df_btc, df, on='startTime', how='inner')
df_volatility.rename(columns = {"value":"VIX"})
df_volatility.head()

            startTime  closePrice     volume symbol_x       value symbol_y
0 2024-04-30 15:00:00     60724.0  117661867   BTCUSD  0.58418179      BTC
1 2024-04-30 14:00:00     61177.5  123668091   BTCUSD  0.58371678      BTC
2 2024-04-30 13:00:00     60776.5  158239656   BTCUSD  0.58326688      BTC
3 2024-04-30 12:00:00     61190.0  110596422   BTCUSD  0.58328617      BTC
4 2024-04-30 11:00:00     61138.0   99544414   BTCUSD  0.58248651      BTC

In [39]:
df_volatility.to_csv('/Users/leonardoplacidi/Desktop/BacktestingTrade/Python4Finance/data/Bybit_btc_volatility.csv', index=False)

In [ ]:
df_volatility['log_rtn'] = np.log(df_volatility.closePrice / df_volatility.closePrice.shift(1)) 
df_volatility['vol_rtn'] = np.log(df_volatility.vix / df_volatility.vix.shift(1))

df_volatility.dropna(how='any', axis=0, inplace=True)